* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:  "Playwrite DE Grund", cursive;
}

header, nav, article, div, footer {
    padding: 10px;
    background-color: #fdc5f5;
    border: 1px solid white;
    text-align: center;
}

header {
    width: 100%;
    background-color: #8093f1;
}

footer {
    width: 100%;
    clear: both;
    background-color: #8093f1;
}

nav {
    float: left;
    width: 20%;
    height: 200px;
    background-color: #cfbaf0;
}

article {
    float: left;
    width: 60%;
    height: 200px;
}

div {
    float: left;
    width: 20%;
    height: 200px;
    background-color: #cfbaf0;
}

